// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp1 = #00b8ff
colorEmp1Light = #47cefe
colorEmp1Inactive = #9de2ff
colorEmp1Disabled = #9de2ff
colorEmp2 = #006ee2
colorEmp2Light = #2498eb
colorEmp2Inactive = #8cc4f3
colorEmp2Disabled = #e1effa
colorEmp3 = #f1c001
colorEmp3Light = #f6d343
colorEmp3Inactive = #f8e599
colorEmp3Disabled = #fdf8e5

colorBgLightMax = #e7e7e7
colorBgLightExtra = #767676
colorBgLight = #484848
colorBg = #303030
colorBgDark = #1a1a1a

colorButton = #e7e7e7
colorButtonSubmit = #2498eb

colorText1 = #e7e7e7
colorText2 = mix(colorText1, black, 80%)
colorText3 = mix(colorText1, black, 65%)
colorText4 = mix(colorText1, black, 50%)

colorTextDark1 = #1a1a1a
colorTextDark2 = mix(colorText1, white, 80%)
colorTextDark3 = mix(colorText1, white, 65%)
colorTextDark4 = mix(colorText1, white, 50%)

colorSuccess = #03f200
colorAlert = #f1c001
colorError = #ff0004

colorDanger = #ff5a61
colorDangerDark = #c30008

colorBorder = colorEmp1

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
