// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp1 = #39ff00
colorEmp1Inactive = mix(colorEmp1, white, 80%)
colorEmp1Disabled = mix(colorEmp1, white, 60%)
colorEmp2 = #00ff8c
colorEmp2Inactive = mix(colorEmp2, white, 80%)
colorEmp2Disabled = mix(colorEmp2, white, 60%)
colorEmp3 = #5500ff
colorEmp3Inactive = mix(colorEmp3, white, 80%)
colorEmp3Disabled = mix(colorEmp3, white, 60%)
colorEmp4 = #9900ff
colorEmp4Inactive = mix(colorEmp4, white, 80%)
colorEmp4Disabled = mix(colorEmp4, white, 60%)

colorBg1 = mix(black, white, 80%)
colorBg2 = mix(black, white, 65%)
colorBg3 = mix(black, white, 50%)

colorText1 = #e8e8e8
colorText2 = mix(colorText1, black, 80%)
colorText3 = mix(colorText1, black, 65%)
colorText4 = mix(colorText1, black, 50%)

colorSuccess = lightgreen
colorAlert = darkgoldenrod
colorError = red

colorBorder = colorEmp1

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
