_font_default()
  font-family some_font
  font-style normal
  font-stretch normal

@font-face
  _font_default()
  src local(some_font-Bold),
  url(../res/fonts/some_font/some_font-bold.ttf) format("truetype"),
  url(../res/fonts/some_font/some_font-bold.woff) format("woff")
  font-weight 700
@font-face
  _font_default()
  src local(some_font-SemiBold),
  url(../res/fonts/some_font/some_font-SemiBold.ttf) format("truetype"),
  url(../res/fonts/some_font/some_font-SemiBold.woff) format("woff")
  font-weight 600
@font-face
  _font_default()
  src local(some_font-Regular),
  url(../res/fonts/some_font/some_font-Regular.ttf) format("truetype"),
  url(../res/fonts/some_font/some_font-Regular.woff) format("woff")
  font-weight 500
