@require '../styles/buttons.styl'
@require '../styles/constants.styl'
@require '../styles/fonts.styl'

input-border = 2px solid colorText1

.root-form
  .input-container
    position relative
    padding-top 10px
    label
      font-medium()

    .placeholder
      position absolute
      top 23px
      text-align left
      padding-left: 10px
      font-medium()
      opacity 0
      transition all 0.2s ease
      pointer-events none

    input
      all unset
      display block
      width calc(100% - 22px)
      margin: auto
      border input-border
      text-align: left
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 17px
      border-radius borderRadiusL
      font-medium()
      &::placeholder
        opacity 0
        visibility hidden
      &:placeholder-shown ~ .placeholder
        left 10px
        opacity .5

    .error
    .success
      position: absolute
      top 26px
      right 20px
      font-small-extra()
      opacity 0
      transition opacity 0.2s ease
    .error
      color colorError
    .success
      color colorSuccess
    .info
      font-small-extra()

    &.error
      color colorError
      .error
        opacity 1
    &.success
      color colorSuccess
      .success
        opacity 1

  .submit
    button-submit()
    margin-top 10px
    margin-bottom 10px