:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  width: 1200px;
  top: 0;
  height: 30px;
}

.navigation {

}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navigation nav li {
  margin: 0 10px;
}

.navigation nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.navigation nav a:hover {
  color: #9b1111;
}

.auth {
  color: blue;
  width: 25px;
  height: 25px;
}

.auth:hover {
  color: red; 
}

.container_reg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.block {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 350px;
  margin: 20px 20px 0 20px;
}

.block h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.block p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.block form {
  display: flex;
  flex-direction: column;
}

.block label {
  font-size: 16px;
  margin-bottom: 5px;
}

.block input[type="text"],
.block input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.b_reg {
  padding-bottom: 10px;
}

.block input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.block input[type="submit"]:hover {
  background-color: #0069d9;
}

footer {
  border-top: solid white;
  width: 1200px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.footer_text {
  width: 500px;
}

.h1_footer {
  font-size: 18px;
  margin-left: 2%;
  position: absolute;
}

.p_footer {
  font-size: 14px;
  margin-left: 2%;
  position: absolute;
  margin-top: 60px;
  width: 800px;
}

.icon-links {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.icon-links a {
  text-decoration: none;
  margin: 0 10px;
}
